nav{
    top: 0%;
    z-index: 10000;
    position: fixed;
    background-color: #222;
    box-shadow: 0.5% 0.5% 0.8% rgba(0, 0, 0, 0.2);
}
nav ul {
    margin-top: 0.9%;
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 7%;
    margin-left: 20px;
}
nav a{
    height: 100%;
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:active{
    text-decoration: none;
    background-color: grey;
    color: white;
}
nav a:hover{
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
nav li:first-child{
    margin-right:auto;
    padding-left: 3%;
    font-size: large;
    color: white;
    font-weight: bold;
}
.logo-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    align-items: center;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 99999;
    background-color: #222;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li:first-child{
    padding: 0;
}
nav li:nth-child(8){
    margin-right: 20px;
    padding-right: 30px;
    
}
nav li:last-child{
    padding-right: 30px;
}
.dashboard-donate {
    background-color: #ff5a5f;
    border-radius: 5px;
}
.dashboard-donate:hover {
    background-color: #007bff;
}

.sidebar .dashboard-donate{
    background-color: #222;

}
.MenuButton {
    display: none;
}

/* Footer styling */
footer {
    background-color: #f8f9fa; /* Bootstrap light gray */
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #6c757d; /* Bootstrap muted text */
    margin-top: 20px;
    width: 100%;
    max-width: 100vw;
}

/* Adjust main content to prevent overlapping */
body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-family: Arial, sans-serif;
}

/* Responsive design */
@media (max-width: 1050px) {
    .hideOnMobile{
        display: none;
    }
    .MenuButton{
        display: block;
    }
}
