{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crisis Management System{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/navbar.css' %}">
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</head>
<body>

    <!-- Navbar -->
            <nav>
                <ul class="sidebar">
                    <li onclick= closeSidebar()><a href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'resources' %}">Resources</a></li>
                    {% if request.user.organization %}
                    <li><a href="{% url 'volunteer' %}">Volunteers</a></li>
                    {% endif %}
                    {% else %}
                    <li><a href="{% url 'home' %}#about">About Us</a></li>
                    <li><a href="{% url 'home' %}#contact">Contact Us</a></li>
                    {% endif %}
                    <li><a href="{% url 'guidelines' %}">Guidelines</a></li>
                    <li><a href="{% url 'incidents' %}">Incidents</a></li>
                    <li><a href="{% url 'donate' %}">Donate</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"  class="dashboard-donate">Profile</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}"  class="dashboard-donate">Register/Login</a></li>
                    {% endif %}
                </ul>
                <ul>
                    <li><img src="../static/media/Logo.jpg" alt="NGO Logo" class="logo-img">Crisis Management</li>
                    <li class = "hideOnMobile"><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class = "hideOnMobile"><a href="{% url 'resources' %}">Resources</a></li>
                    {% if user.organization %}
                    <li class = "hideOnMobile"><a href="{% url 'volunteer' %}">Volunteers</a></li>
                    {% endif %}
                    {% else %}
                    <li class = "hideOnMobile"><a href="{% url 'home' %}#about">About Us</a></li>
                    <li class = "hideOnMobile"><a href="{% url 'home' %}#contact">Contact Us</a></li>
                    {% endif %}
                    <li class = "hideOnMobile"><a href="{% url 'guidelines' %}">Guidelines</a></li>
                    <li class = "hideOnMobile"><a href="{% url 'incidents' %}">Incidents</a></li>
                    <li class = "hideOnMobile"><a href="{% url 'donate' %}">Donate</a></li>
                    {% if user.is_authenticated %}
                    <li class = "hideOnMobile"><a href="{% url 'profile' %}"  class="dashboard-donate">Profile</a></li>
                    {% else %}
                    <li class = "hideOnMobile"><a href="{% url 'login' %}"  class="dashboard-donate">Register/Login</a></li>
                    {% endif %}
                    <li onclick= showSidebar() class="MenuButton"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></a></svg></li>
                </ul>
            </nav>
            <script>
                function showSidebar(){
                    const sidebar = document.querySelector('.sidebar')
                    sidebar.style.display = 'flex'
                }
                function closeSidebar(){
                    const sidebar = document.querySelector('.sidebar')
                    sidebar.style.display = 'none'
                }
            </script>


    <!-- Main content block -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Crisis Management System. All rights reserved.</p>
        <a>Team</a>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
