{% extends 'base.html' %}
{% load static %}

{% block title %}Donate{% endblock %}
<div class="text-center mb-2">
    {% for message in messages %}
    <i class="text-danger text-center">{{ message }}</i>
    {% endfor %}
</div>
{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/donate.css' %}">
{% endblock %}

{% block content %}
<h1>Donate!</h1>

<script src="https://www.paypal.com/sdk/js?client-id=BAApR9X9uZheiz9WJkrw-7cB9w8X9B4qvXbxs90dBpJaDo6I4Ze8jAlNMAJxu3fPGDlUPkXxEr9UhF0E4E&components=hosted-buttons&disable-funding=venmo&currency=USD"></script>
<div id="paypal-container-WUJ62SFX5U27L"></div>
<script>
  paypal.HostedButtons({
    hostedButtonId: "WUJ62SFX5U27L",
  }).render("#paypal-container-WUJ62SFX5U27L")
</script>

<!-- QR Code -->
<div class="qr-code-container">
    <img src="{% static 'media/donations-qrcode.png' %}" alt="QR Code for Donations">
    <p>Scan the QR code to donate</p>
</div>
{% endblock %}